<%include ../partials/header%>

<h1>Login page</h1>

   <% if(errorMessage) { %>
    <h3><%=errorMessage%></h3>
    <%}%>

    <% if(passMessage) { %>
        <h3><%=passMessage%></h3>
        <%}%>

<form action="/login" method="POST">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>">

<input type="text" name="username" autocomplete="off" placeholder="Enter the name">
<input type="password" name="password" autocomplete="off" placeholder="Enter the passwrd">

<!-- <input type="text" name="avenger[image]" autocomplete="off" placeholder="Enter the image url"> -->
<button>Submit</button>
<a href="/reset">forgot password</a>


</form>

<%include ../partials/footer%>
