<%include ../partials/header%>

<h1>Reset password page</h1>



<form action="/new-password" method="POST">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
    <input type="hidden" name="userId" value="<%=userId %>">
    <input type="hidden" name="passwordToken" value="<%=passwordToken %>">



<input type="password" name="password" autocomplete="off" placeholder="Enter the new password">


<!-- <input type="text" name="avenger[image]" autocomplete="off" placeholder="Enter the image url"> -->
<button>Update Password</button>


</form>

<%include ../partials/footer%>
