<%include ../partials/header%>

<h1>Sign up page</h1>

<form action="/sign-up" method="POST">
    
    <input type="text" name="username" autocomplete="off" placeholder="Enter the name">

<!-- <input type="email" name="email" autocomplete="off" placeholder="Enter the email"> -->
<input type="password" name="password" autocomplete="off" placeholder="Enter the passwrd">

<!-- <input type="text" name="avenger[image]" autocomplete="off" placeholder="Enter the image url"> -->
<button>Submit</button>


</form>

<%include ../partials/footer%>
