<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
</head>
<body>
    


    <div class="ui inverted  menu">
        <div class="header item">
            <i class="code icon"></i> Blogs
        </div>
        <a href="/"class="active item">
          Home
        </a>
       <%if (isAuthenticated){%>
        <a class="item" href="/avengers/new">
          New Blog
        </a>
        <%}%>

        <a class="item" href="/show">Show</a>
        
        <div class="right menu">
          <% if (isAuthenticated){%>

            <li class="item">
              <form action="/log-out" method="POST">
                <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                <button>Logout</button>
              </form>
            </li>
          

          <%}else{%>

            <a class="item" href="/login">Login</a>
          <a class="item" href="/sign-up">Sign-up</a>
          
      
          <%}%>


      </div>
    </div>