<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
</head>
<body>
    


    <div class="ui inverted  menu">
        <div class="header item">
            <i class="code icon"></i> Blogs
        </div>
        <a href="/"class="active item">
          Home
        </a>
        <!-- <a class="item" href="/avengers/new">
          New Blog
        </a> -->

        
        
        <div class="right menu">
          <a class="item" href="/login">Login</a>
          <a class="item" href="/sign-up">Sign-up</a>
    </div>

    </div>

    <h1>login to add or see avengers</h1>

    



<%include ../partials/footer%>
