<%include ../partials/header%>

<form action="#">

<input type="email" name="user[email]" autocomplete="off" placeholder="Enter the email">
<input type="password" name="avenger[password]" autocomplete="off" placeholder="Enter the passwrd">

<!-- <input type="text" name="avenger[image]" autocomplete="off" placeholder="Enter the image url"> -->
<button>Submit</button>


</form>

<%include ../partials/footer%>
