<% include ../partials/header%>


<h1>Enter the data</h1>

<form action="/avengers" method="Post">

    <input type="hidden" name="_csrf" value="<%=csrfToken %>">


<input type="text" name="avenger[name]" autocomplete="off" placeholder="Enter the name">
<input type="text" name="avenger[power]" autocomplete="off" placeholder="Enter the power">

<input type="text" name="avenger[image]" autocomplete="off" placeholder="Enter the image url">
<button>Submit</button>


</form>

<% include ../partials/footer%>
