<% include ../partials/header%>

<h1>Blog page</h1>

<% for (let avenger of avengers){%>

<h1><%=avenger["name"]%></h1>
<img src="<%=avenger['image']%>">

<span><%=avenger.created.toDateString()%></span>
<p>
<a href="/avengers/<%=avenger._id%>">More info</a>

</p>












<%}%>
<% include ../partials/footer%>



